body {
    text-align: center;
    font-family: "Cambria";
    background-image: linear-gradient(to right, rgb(40, 3, 75), black, rgb(40, 3, 75));
    color: cornsilk;
}
ul {
    list-style-type: none;
}
button {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
label {
    display: inline-block;
    margin-top: 10px;
}
input:focus {
    background: white;
}
input {
    background: rgb(89, 209, 209);
}
.hide {
    display: none;
}